.blogSection {
  padding: 15px 40px;
}

.cta {
  padding: 100px 0;
}

.blogTitle {
  align-items: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.blogTitle h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}
.blogTitle h5 {
  font-size: 18px;

}

.blogTitle p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.blogContent {
  margin-top: 50px;
  font-size: 16px;
  text-align: justify;
}

.blogMain img {
  justify-content: center;
  align-items: center;
}

.latestBlog {
  margin-top: 40px; /* Adjust margin as needed */
}

.latestBlogItem {
  display: flex;
  align-items: center;
  margin-bottom: 60px; /* Adjust margin as needed */
  border-bottom: 1px solid #ddd; /* Add subtle border for separation */
  padding-bottom: 20px; /* Add padding for spacing */
}

.latestBlogItem:last-child {
  /* Remove border for last item */
  border-bottom: none;
  padding-bottom: 0;
}

.latestBlogImageWrapper {
  flex: 0 0 350px; /* Set fixed width for image container */
  margin-right: 20px; /* Add margin between image and content */
}

.latestBlogImage {
  width: 100%; /* Ensure image fills container */
  height: 200px;
  border-radius: 8px; /* Add rounded corners */
}

.latestBlogContent {
  flex: 1; /* Allow content to fill remaining space */
}

.latestBlogTitle {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px; /* Add margin for spacing */
  text-overflow: ellipsis; /* Truncate overflowing text */
  white-space: nowrap; /* Prevent line breaks within title */
  overflow: hidden; /* Hide overflowing content */
  max-width: 800px; /* Adjust maximum width as needed */
}

.latestBlogAuthor {
  color: #4d590e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px; /* Add margin for spacing */
}

/* .latestBlogTitle {
  margin-left: 20px;
} */
.latestBlogTitle h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.latestBlogTitle p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 480px) {
  .cta {
    padding: 50px 0;
  }
  .latestBlogItem {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .latestBlogTitle {
    padding: 0px 0px;
    max-width: 300px;
  }
  .latestBlogTitle h2 {
    font-size: 26px;
  }
  .latestBlogTitle p {
    font-size: 18px;
  }
  .latestBlogItem {
    padding: 0px 0px;
    margin-bottom: 20px;
  }
  .latestBlog {
    margin-left: 0;
  }
  .latestBlogImageWrapper {
    flex: 0;
  }
  .latestBlogItem img {
    width: 100%;
    height: 200px;
  }
  .latestBlogItem .latestBlogContent {
    margin-left: 0;
    padding: 20px 10px;
    text-align: center;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .cta {
    padding: 50px 0px;
  }
  .latestBlogTitle {
    margin: 0;
  }
  .latestBlogItem img {
    width: 44%;
  }
  .latestBlogTitle h2 {
    padding: 0 20px;
    font-size: 22px;
  }
  .latestBlogTitle p {
    padding: 0 20px;
    font-size: 14px;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 22px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 16px;
  }
  .latestBlogItem .latestBlogContent .latestBlogDescription {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blogTitle h2 {
    font-size: 22px;
  }
  .blogTitle p {
    font-size: 16px;
  }
  .blogMainSection {
    padding: 15px 20px;
  }
  .blogSideSection {
    padding: 15px 20px;
  }
  .sectionHeading {
    font-size: 20px;
  }
  .sectionHeading span {
    font-size: 22px;
  }
  .sectionHeading p {
    font-size: 16px;
    padding: 10px 50px 0 50px;
  }
  .cta {
    padding: 50px 20px;
  }
  .latestBlogItem img {
    width: 44%;
  }
  .latestBlogTitle h2 {
    padding: 0 20px;
    font-size: 22px;
  }
  .latestBlogTitle p {
    padding: 0 20px;
    font-size: 14px;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 22px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 16px;
  }
  .latestBlogItem .latestBlogContent .latestBlogDescription {
    font-size: 14px;
  }
}
