         
        /* Media Query for Mobile Devices */
        @media (max-width: 480px) {
          body {
              background-color: red;
          }
      }
       
      /* Media Query for low resolution  Tablets, Ipads */
      @media (min-width: 481px) and (max-width: 767px) {
          body {
              background-color: yellow;
          }
      }
       
      /* Media Query for Tablets Ipads portrait mode */
      @media (min-width: 768px) and (max-width: 1024px){
          body {
              background-color: blue;
          }
      }
       
      /* Media Query for Laptops and Desktops */
      @media (min-width: 1025px) and (max-width: 1280px){
          body {
              background-color: green;
          }
      }
       
      /* Media Query for Large screens */
      @media (min-width: 1281px) {
          body {
              background-color: white;
          }
      }


/************************************/
/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}

/*********************************/

@media (max-width: 768px)  {
    /* Styles for mobile screens */
  }

@media (max-width: 768px) {
/* Styles for tablet screens */
}

@media screen and (min-width: 992px) {
/* Styles for desktop screens */
}
