.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px; 
    height: 100%; 
    background: linear-gradient(179.62deg, #B7D867 0.33%, rgba(195, 244, 75, 0.22) 77.83%, rgba(255, 255, 255, 0) 99.69%);
    border-left: 1px solid #9BC200;
    box-shadow: 0px 4px 25px 0px #9BC20040;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #ccc; 
    z-index: -1;
  }

  .sidebar h2 {
    margin: 140px 0px 40px 10px
  }

  
  .details {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
  }
  
  .details div:first-child {
    flex: 0 0 100px; /* Width of label */
    font-weight: 500;
  }
  
  .details div {
    margin-left: 10px; /* Spacing between label and detail */
  }