.blogMainSection {
  padding: 15px 40px;
  margin-top: 40px;
}

.cardRow {
  margin-bottom: 100px !important;
}
.blogsSection {
  padding: 0 20px;
}
.sectionHeading {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  display: flex;
}

.sectionHeading h2 {
  margin: 0;
  color: #000;
  font-weight: 400;
}
.sectionHeading span {
  color: #000;
  font-weight: 700;
  font-size: 30px;
}
.sectionHeading p {
  font-size: 20px;
  color: #67782d;
  /* padding: 10px 550px 0 550px; */
}
.sectionHeading a {
  margin: 0;
  font-size: 12px;
  color: #67782d !important;
}

/* 
  .carousel-control-prev-icon::before,
  .carousel-control-next-icon::before {
    content: '';
    font-size: 48px;
    color: #7fc600 !important;
    cursor: pointer;
    margin: 0 10px;
    font-weight: 600;z-index: 999;
  } */

.cta {
  padding: 100px 0;
}

.carousel-control-next-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
}

.carousel-control-prev-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
}

.latestBlog {
  margin-top: 40px; /* Adjust margin as needed */
}

.latestBlogItem {
  display: flex;
  align-items: center;
  margin-bottom: 60px; /* Adjust margin as needed */
  border-bottom: 1px solid #ddd; /* Add subtle border for separation */
  padding-bottom: 20px; /* Add padding for spacing */
}

.latestBlogItem:last-child {
  /* Remove border for last item */
  border-bottom: none;
  padding-bottom: 0;
}

.latestBlogImageWrapper {
  flex: 0 0 350px; /* Set fixed width for image container */
  margin-right: 20px; /* Add margin between image and content */
}

.latestBlogImage {
  width: 100%; /* Ensure image fills container */
  border-radius: 8px; /* Add rounded corners */
}

.latestBlogContent {
  flex: 1; /* Allow content to fill remaining space */
}

.latestBlogTitle {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px; /* Add margin for spacing */
  text-overflow: ellipsis; /* Truncate overflowing text */
  white-space: nowrap; /* Prevent line breaks within title */
  overflow: hidden; /* Hide overflowing content */
  max-width: 800px; /* Adjust maximum width as needed */
}

.latestBlogAuthor {
  color: #4d590e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px; /* Add margin for spacing */
}

/* .latestBlogTitle {
  margin-left: 20px;
} */
.latestBlogTitle h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.latestBlogTitle p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.cardsRow {
  display: flex;
}
@media (max-width: 480px) {
  .sectionHeading h2 {
    font-size: 20px;
  }
  .sectionHeading h2 span {
    font-size: 20px;
  }

  .sectionHeading p {
    font-size: 16px;
  }
  .cta {
    padding: 50px 0;
  }
  .latestBlogItem {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .latestBlogTitle {
    padding: 0px 0px;
    max-width: 300px;
  }
  .latestBlogTitle h2 {
    font-size: 26px;
  }
  .latestBlogTitle p {
    font-size: 18px;
  }
  .latestBlogItem {
    padding: 0px 0px;
    margin-bottom: 20px;
  }
  .latestBlog {
    margin-left: 0;
  }
  .latestBlogImageWrapper {
    flex: 0;
  }
  .latestBlogItem img {
    width: 100%;
    height: 200px;
  }
  .latestBlogItem .latestBlogContent {
    margin-left: 0;
    padding: 20px 10px;
    text-align: center;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .sectionHeading {
    font-size: 26px;
  }
  .sectionHeading p {
    font-size: 18px;
  }
  .cta {
    padding: 50px 0px;
  }
  .latestBlog {
    margin-left: 0px;
  }
  .latestBlogItem img {
    width: 200px;
    height: 120px;
  }
  .latestBlogTitle h2 {
    padding: 30px 20px 10px 20px;
    font-size: 22px;
  }
  .latestBlogTitle p {
    padding: 0 20px;
    font-size: 14px;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 18px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blogMainSection {
    padding: 15px 20px;
  }
  .blogSideSection {
    padding: 15px 20px;
  }
  .sectionHeading {
    font-size: 20px;
  }
  .sectionHeading span {
    font-size: 22px;
  }
  .sectionHeading p {
    font-size: 16px;
  }
  .cta {
    padding: 50px 20px;
  }
  .latestBlog {
    margin-left: 0px;
  }
  .latestBlogTitle h2 {
    font-size: 22px;
  }
  .latestBlogTitle p {
    font-size: 20px;
  }
  .latestBlogItem img {
    width: 250px;
    height: 150px;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 20px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 16px;
  }
  .latestBlogItem .latestBlogContent .latestBlogDescription {
    font-size: 14px;
  }
}
