.callbackFormSection .labelBadge {
    position: relative;
    background-color: #c3e160;
    color: #000;
    padding: 5px 50px 5px 20px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 20px;
    z-index: 1;
  }
  
  .callbackFormSection .input {
    margin-top: -14px;
    padding: 12px 12px;
    border-radius: 16px;
    border-color: #c3e160;
    width: 100%;

   }
  
.dateInputWrapper{
    width: 100%;
}