.customCard {
  background: none;
  border: none;
  position: relative; /* Ensure the parent is positioned */
}

.blogMainSection {
  padding: 15px 40px;
  margin-bottom: 100px;
}

.cardOverlay {
  position: absolute;
  bottom: 0;
  margin-left: 30px;
  color: #fff;
  width: 80%;
}

.mainFeature {
  font-size: 28px;
}
.cardImgContainer {
  position: relative;
  display: inline-block;
}

.cardImgContainer img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px; /* Adjust as needed */
}

.cardImgContainer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%; /* Adjust as needed */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0)
  ); /* Adjusted gradient */
  border-radius: 8px; /* Adjust as needed */
  pointer-events: none;
}

.blogSideSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center; /* Vertically center items */
}

.thumbnailItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Ensure the item takes full width */
}

.thumbnailItem img {
  margin-right: 10px; /* Adjust spacing between image and text */
  width: 44%;
  border-radius: 8px;
}

.thumbnailItem .thumbnailContent {
  display: flex;
  flex-direction: column;
  line-height: 1.4; /* Adjust line-height for readability */
  flex: 1; /* Ensure content takes remaining space */
  min-width: 0; /* Allow flex items to shrink properly */
}

.thumbnailItem .thumbnailContent .thumbnailTitle {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.thumbnailItem .thumbnailContent .thumbnailAuthor {
  color: #575555;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.thumbnailItem .thumbnailContent .thumbnailDescription {
  color: #696767;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.categoryBlogs {
  margin-top: 40px;
}
.cardSliderSection {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center; /* Add this line */
  position: relative;
  padding: 0;
}

.cardsRow {
  display: flex;
  justify-content: center;
}

.sectionLeftTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sectionLeftTitle h2 {
  margin: 0;
  font-size: 30px;
  color: #000;
  font-weight: 500;
}
.sectionLeftTitle span {
  margin: 0;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.sectionLeftTitle p {
  margin: 0;
  font-size: 16px;
  color: #67782d;
}
.sectionLeftTitle a {
  margin: 0;
  font-size: 12px;
  color: #67782d;
  text-decoration: none;
}

.card {
  border-radius: 12px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bt {
  margin: 40px 0;
}

/* 
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: '';
  font-size: 48px;
  color: #7fc600 !important;
  cursor: pointer;
  margin: 0 10px;
  font-weight: 600;z-index: 999;
} */
/* .carousel-control-prev{
  left: -80px;
} */
.cta {
  padding: 100px 0;
}

.carousel-control-next-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
}

.carousel-control-prev-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
}

.latestBlog {
  margin-top: 40px; /* Adjust margin as needed */
}

.latestBlogItem {
  display: flex;
  align-items: center;
  margin-bottom: 60px; /* Adjust margin as needed */
  border-bottom: 1px solid #ddd; /* Add subtle border for separation */
  padding-bottom: 20px; /* Add padding for spacing */
}

.latestBlogItem:last-child { /* Remove border for last item */
  border-bottom: none;
  padding-bottom: 0;
}

.latestBlogImageWrapper {
  flex: 0 0 350px; /* Set fixed width for image container */
  margin-right: 20px; /* Add margin between image and content */
}

.latestBlogImage {
  width: 100%; /* Ensure image fills container */
  border-radius: 8px; /* Add rounded corners */
}

.latestBlogContent {
  flex: 1; /* Allow content to fill remaining space */
}

.latestBlogTitle {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px; /* Add margin for spacing */
  text-overflow: ellipsis; /* Truncate overflowing text */
  white-space: nowrap; /* Prevent line breaks within title */
  overflow: hidden; /* Hide overflowing content */
  max-width: 800px; /* Adjust maximum width as needed */
}

.latestBlogAuthor {
  color: #4d590e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px; /* Add margin for spacing */
}

/* .latestBlogTitle {
  margin-left: 20px;
} */
.latestBlogTitle h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.latestBlogTitle p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.sectionHeading {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  display: flex;
  margin-bottom: 50px;
}
.sectionHeading h2 {
  margin: 0;
  color: #000;
  font-weight: 600;
}
@media (max-width: 480px) {
  .blogMainSection {
    padding: 15px 16px;
  }
  .mainFeature {
    font-size: 18px;
  }
  .cardImgContainer::after {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6) 80%,
      rgba(0, 0, 0, 0)
    ); /* Adjusted gradient */
  }
  .customCard {
    padding: 15px 0px;
  }
  .cardsRow {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
  .blogSideSection {
    margin-top: -60px;
  }
  .thumbnailItem .thumbnailContent .thumbnailTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .paddingCard {
    margin: 0 6px;
  }
  .cardSliderSection {
    justify-content: center;
  }
  .cardOverlay {
    margin-left: 20px;
  }
  .sectionHeading {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    display: flex;
  }
  .sectionLeftTitle {
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .sectionLeftTitle p {
    font-size: 14px;
    margin: 10px 0;
  }
  .sectionLeftTitle a {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .sectionLeftTitle .title {
    display: flex;
    flex-direction: row;
  }
  .sectionLeftTitle .title h2 {
    margin-top: 2px;
    font-size: 16px;
  }
  .sectionLeftTitle .title span {
    font-size: 16px;
    margin-right: 8px;
  }
  .cta {
    padding: 50px 0;
  }
  .latestBlogItem {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .latestBlogTitle {
    padding: 0px 0px;
    max-width: 300px;
  }
  .latestBlogTitle h2 {
    font-size: 26px;
  }
  .latestBlogTitle p {
    font-size: 18px;
  }
  .latestBlogItem {
    padding: 0px 0px;
    margin-bottom: 20px;
  }
  .latestBlog {
    margin-left: 0;
  }
  .latestBlogImageWrapper {
    flex: 0;

  }
  .latestBlogItem img {
    width: 100%;
    height: 200px;
  }
  .latestBlogItem .latestBlogContent {
    margin-left: 0;
    padding: 20px 10px;
    text-align: center;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .customCard {
    padding: 0px;
  }
  .blogMainSection {
    padding: 15px 20px;
  }
  .blogSideSection {
    padding: 15px 20px;
  }
  .carousel .card {
    padding: 10px 0;
  }
  .paddingCard {
    margin: 0 6px;
  }
  .sectionLeftTitle {
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .sectionLeftTitle p {
    font-size: 16px;
    margin: 10px 0;
  }
  .sectionLeftTitle a {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sectionLeftTitle .title {
    display: flex;
    flex-direction: row;
  }
  .sectionLeftTitle .title h2 {
    margin-top: 0px;
    font-size: 26px;
  }
  .sectionLeftTitle .title span {
    font-size: 22px;
    margin-right: 10px;
  }
  .cta {
    margin-top: -20%;
    padding: 0px 10px;
  }
  .latestBlog {
    margin-left: 0px;
  }
  .latestBlogItem img {
    width: 200px;
    height: 120px;
  }
  .latestBlogTitle h2 {
    padding: 30px 20px 10px 20px;
    font-size: 22px;
  }
  .latestBlogTitle p {
    padding: 0 20px;
    font-size: 14px;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 18px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .latestBlog {
    margin-left: 0px;
  }
  .latestBlogTitle h2 {
    font-size: 22px;
  }
  .latestBlogTitle p {
    font-size: 20px;
  }
  .latestBlogItem img {
    width: 250px;
    height: 150px;
  }
  .latestBlogItem .latestBlogContent .latestBlogTitle {
    font-size: 20px;
  }
  .latestBlogItem .latestBlogContent .latestBlogAuthor {
    font-size: 16px;
  }
  .latestBlogItem .latestBlogContent .latestBlogDescription {
    font-size: 14px;
  }
}
