body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  background: linear-gradient(180deg, #E3FE89 0%, #B6D54D 29.89%, #DAF874 69.48%, #D6FF4C 100%) !important;
}

.content-main{
  padding-top:120px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev {
  margin-left: -75px !important;
}